:root {
  --bckgrd: #f0f0f0;
  --secondary: #9DC0E9;
  --tertiary: #e64f70;
  --small-unit: 1rem;
  --standard-unit: 2rem;
  --large-unit: 5rem;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}

*:focus {
  outline: none;
}

body {
    font-size: 14px;
    background: var(--bckgrd);
    background-color: var(--bckgrd);
    width: calc(4*var(--large-unit)); 
    height: 600px;    
    padding: var(--small-unit);
}


div.glass, article.glass, section.glass, form.glass, button.glass {
  background: rgba(74, 145, 226, 0.5);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 7.0px );
  -webkit-backdrop-filter: blur( 7.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

div.neu, article.neu, section.neu, form.neu, button.neu {
  height: var(--standard-unit);
  background: var(--bckgrd);
  box-shadow:  5px 5px 10px #cccccc,
              -5px -5px 10px #ffffff;
  border: none;
}

button.danger {
  background: var(--tertiary) !important; 
}

button.round {
   border-radius: 50%;
   height: var(--standard-unit);
   width: var(--standard-unit);
}

button.neu:hover {
  background: linear-gradient(145deg, #d8d8d8, #ffffff);
}

button.neu.on-glass {
  background: var(--secondary);/*inear-gradient(145deg, #a8cdf9, #8dadd2); */
  box-shadow:  5px 5px 10px #85a3c6,
              -5px -5px 10px #b5ddff;
}

button.neu.on-glass:hover {
  background: linear-gradient(145deg, #8dadd2, #a8cdf9);
  box-shadow:  5px 5px 10px #85a3c6,
              -5px -5px 10px #b5ddff;
}

input[type=text].neu-in, input[type=number].neu-in {
  text-align: center;
  height: var(--standard-unit);
  border: none;
  background: var(--bckgrd);
  box-shadow: inset 5px 5px 10px #cccccc,
              inset -5px -5px 10px #ffffff;
}

#save-tab {
  height: 100vh;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  padding: var(--standard-unit) var(--standard-unit) var(--standard-unit) 0;
  z-index: 100;
  position: absolute;
  top: 0;
  left: -500px;
  transition: left 0.5s ease-in-out;
}

#save-tab form.glass {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  gap: var(--small-unit);
  border-radius: 0 10px 10px 0;

}
#save-tab form.glass input {
  width: 80%
}

#storage-tab div.items-div {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  overflow-y: auto;
}

#storage-tab div.glass {
  height: var(--large-unit);
  width: calc(4*var(--large-unit) - calc(2*var(--small-unit)));
  max-width: 100%;
  position: fixed;
  bottom: var(--small-unit);
  display: grid;
  align-items: center;
  z-index: 50;
}

#storage-tab div.shrugging {
  height: 50vh;
  width: 100vw;
  max-height: 100%;
  max-width: 100%;
  font-size: calc(2*var(--standard-unit));
  color: #aaa;
  display: grid;
  place-items: center;
}

/*****************************GENERATION TAB*****************************/
#generation-tab form.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3 auto);
  gap: var(--small-unit);
}

#generation-tab .left-label-group {
  grid-area: 1/1/2/2;
}

#generation-tab .right-label-group {
  grid-area: 1/2/2/3;
}

#generation-tab .pswd-length-container {
  grid-area: 2/1/3/3;
}

#generation-tab button.button {
  grid-area: 3/1/4/3;
}

#generation-tab .container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
}
  

#generation-tab .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  

#generation-tab .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: linear-gradient(145deg, #f9fafe, #d2d3d5);
    box-shadow:  3px 3px 5px #c6c7c9,
               -3px -3px 5px #ffffff;
    border-radius: 50%;
    transition: 0.2s ease-in;
}
  
#generation-tab .container input:checked ~ .checkmark {
      background: #5171d2;
      box-shadow: inset 3px 3px 5px #4560b3,
                  inset -3px -3px 5px #5d82f2;
      transition: 0.2s ease-in;
}
  
#generation-tab .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
#generation-tab .container input:checked ~ .checkmark:after {
    display: block;
}
  
#generation-tab .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

#generation-tab #password {
  margin-top: var(--small-unit);
}


/*****************************STORAGE TAB*****************************/
