:root {
  --bckgrd: #e9eaed;
  --small-unit: 1rem;
  --standard-unit: 2rem;
  --large-unit: 5rem;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}

body {
    background: var(--bckgrd);
    background-color: var(--bckgrd);
}

.container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background: linear-gradient(145deg, #f9fafe, #d2d3d5);
    box-shadow:  3px 3px 5px #c6c7c9,
               -3px -3px 5px #ffffff;
    border-radius: 50%;
    transition: 0.2s ease-in;
  }
  
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
      background: #5171d2;
      box-shadow: inset 3px 3px 5px #4560b3,
                  inset -3px -3px 5px #5d82f2;
      transition: 0.2s ease-in;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.button {
    padding: calc(var(--small-unit)*0.5) var(--small-unit);
    border: none;
    font-size: 1rem;
    border-radius: calc(var(--small-unit)*0.5);
    background: #9daee1;
    box-shadow:  7px 7px 13px #c6c7c9,
                -7px -7px 13px #ffffff;
    cursor: pointer;
}
